################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/OrderVerificationMAUI/obj
/OrderVerificationMAUI/bin
/OrderVerificationMAUI/.vs
/OrderVerificationMAUI/.idea

/OrderVerificationMAUI/DatasetImageProcessing/obj
/OrderVerificationMAUI/DatasetImageProcessing/bin

/OrderVerificationMAUI/DatasetImageProcessingTests/obj
/OrderVerificationMAUI/DatasetImageProcessingTests/bin

/OrderVerificationMAUI/OutboundConsole/obj
/OrderVerificationMAUI/OutboundConsole/bin

/OrderVerificationMAUI/OutboundConsoleTests/obj
/OrderVerificationMAUI/OutboundConsoleTests/bin

/OrderVerificationMAUI/RabbitMQ/obj
/OrderVerificationMAUI/RabbitMQ/bin



